extends ../layouts/base.pug
block head
  include ../includes/head.pug
block style
  link(href=assets.styles.vendor rel="stylesheet")
  link(href=assets.styles.list rel="stylesheet")
block content 
  #root !{reactHtml}
block jslib
  script(src=assets.javascript.manifest)
  script(src=assets.javascript.vendor)
  script(src=assets.javascript.list)
